*, ::before, ::after {
    margin: 0;
    padding: 0;
}

#book-one {
    background: lightgrey;
    max-width: 500px;
    font-size: 40px;
    margin: 10px;
    padding: 10px;
}

#book-two {
    background: lightgrey;
    max-width: 500px;
    font-size: 40px;
    margin: 10px;
    padding: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    border-radius: 50px;
}