body {
	margin: 0;
	padding: 0;
	font-family: Monaco, monospace, sans-serif;
}

#game-info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

line {
	stroke-width: 7;
	stroke-linecap: round;
}

circle {
	stroke-width: 7;
	fill: none;
}

.player1 {
	stroke: red;
}

.player2 {
	stroke: black;
}

.grid-v, .grid-h {
	stroke: #ddd;
}

#players {
	margin-top: 50px;
}

#scores {
	margin-top: 10px;
}

#players, #scores {
	display: flex;
	flex-direction: row;
	font-size: 1.5em;
	margin-left: 25px;
}

#o, #turn, #btn, #o-score, #info {
	margin-left: 85px;
}

#turn, #info {
	color: #39ff14;
}

#btn {
	cursor: pointer;
	border-radius: 5px;
	border: none;
	outline-color: black;
	background-color: #ddd;
	font-family: Monaco, monospace, sans-serif;
}
